@charset "UTF-8";

.blog{
  position: relative;
  width: 100%;
}
.blog_ttl{
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Roboto Slab',
      serif;
  font-weight: bold;
}
.inner{
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: auto;
}
.blog_img{
  width: 70%;
  position: relative;
  margin-right: 45px;
  float: right;
}
.blog_img img{
  width: 100%;
  height: auto;
  position: relative;
}
.blog_img img:hover{
  opacity: 0.8;
}
.blog_img2 img:hover{
  opacity: 0.8;
}
.blog_img2{
  width: 70%;
  position: relative;
  margin-left: 45px;
  float: left;
}
.blog_txt{
  position: absolute;
  top: 200px;
  left: 15%;
  z-index: 1;
}
.blog_txt2{
  position: absolute;
    top: 200px;
    right: 15%;
    z-index: 1;
}
.blog_txt h3{
  font-size: 70px;
  font-family: 'Roboto Slab',
      serif;
    font-weight: normal;
  text-shadow: 1px 2px 3px white;
}
.blog_txt p{
  font-size: 30px;
  font-family: serif;
}
.blog_txt a{
  transition: 0.1s;
  display: block;
}
.blog_txt a:hover{
  border-bottom: solid 2px black;
  color: black;
}
.blog_txt2 h3 {
  font-size: 70px;
  font-family: 'Roboto Slab',
    serif;
  font-weight: normal;
  text-shadow: 1px 2px 3px white;
}

.blog_txt2 p {
  font-size: 30px;
  font-family: serif;
}

.blog_txt2 a {
  transition: 0.1s;
  display: block;
}

.blog_txt2 a:hover {
  border-bottom: solid 2px black;
  color: black;
}
.nothing{
  width: 100%;
  height: 90vh;
}
footer {
  text-align: center;
}

footer p {
  color: black;
}